{% extends 'template.html.twig' %}

{# {% block title %}Edit Client{% endblock %} #}

{% block content %}
  

    {# {{ include('client/_form.html.twig', {'button_label': 'Update'}) }} #}

<div class="container  card">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="text-dark">Modifier le client</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img src="{{ asset('add2.png') }}" class="img-fluid" alt="Add Image">
    </div>
    <div class="col-md-6">
    {{ include('client/_form.html.twig', {'button_label': 'Update'}) }}
      <!-- Bouton Submit avec classes Bootstrap -->
      {# <button type="submit" class="btn btn-primary">Enregistrer</button> #}
    </div>
  </div>
</div>

    {{ include('client/_delete_form.html.twig') }}
    <a href="{{ path('app_client_index') }}" class="btn btn-dark btn-sm w-30 mb-3 mt-2">Retour en arrière</a>
{% endblock %}


