{% extends 'template.html.twig' %}

{# {% block title %}Agence{% endblock %} #}

{% block content %}
    <h1>{{ agence.nom }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ agence.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ agence.code }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ agence.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ agence.adresse }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_agence_index') }}"  class="btn btn-dark btn-sm w-30 mb-3 mt-2">
    <i class="icon-class"></i>
    Retour en arriere</a>

    <a href="{{ path('app_agence_edit', {'id': agence.id}) }} "  class="btn btn-success btn-sm w-30 mb-3 mt-2">Modifier</a>

    {{ include('agence/_delete_form.html.twig') }}
{% endblock %}
