{# templates/transfer/index.html.twig #}

{% extends 'template.html.twig' %}

{% block title %}Transfert d'Argent{% endblock %}

{% block content %}
    <h1>Transfert d'Argent</h1>

    {{ form_start(form) }}
        {{ form_row(form.source, {
        'attr': {'class': 'form-control', 'placeholder': 'saisir un code client'}
    }) }}
        {{ form_row(form.destination, {
        'attr': {'class': 'form-control', 'placeholder': 'saisir un code'}
    }) }}
        {{ form_row(form.amount, {
        'attr': {'class': 'form-control', 'placeholder': 'saisir un montant'}
    }) }}
        {{ form_row(form.submit, {
        'attr': {'class': 'btn btn-primary mt-2'}
    }) }}
    {{ form_end(form) }}

    {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message }} </p>
            {% endfor %}
        </div>
    {% endfor %}

    
{% endblock %}
